<launch>
  <arg name="device" default="/dev/hydra" />
  <arg name="publish_tf" default="false" />
  <arg name="polling_ms" default="10" />
  <arg name="corner_freq" default="3.0" />
  <arg name="px" default="0.04" />
  <arg name="py" default="0.0" />
  <arg name="pz" default="0.0" />
  <arg name="gx" default="0.12" />
  <arg name="gy" default="0.0" />
  <arg name="gz" default="0.0" />
  <arg name="use_grab_frame" default="true" />

  <node pkg="razer_hydra" type="hydra_node" name="razer_hydra_driver" output="screen" >
    <param name="device"        type="string" value="$(arg device)" />
    <param name="publish_tf"    type="bool"   value="$(arg publish_tf)" />
    <param name="polling_ms"    type="int"    value="$(arg polling_ms)" />
    <param name="corner_freq"   type="double" value="$(arg corner_freq)" />
    <param name="pivot_x" type="double" value="$(arg px)" />
    <param name="pivot_y" type="double" value="$(arg py)" />
    <param name="pivot_z" type="double" value="$(arg pz)" />
    <param name="grab_x"  type="double" value="$(arg gx)" />
    <param name="grab_y"  type="double" value="$(arg gy)" />
    <param name="grab_z"  type="double" value="$(arg gz)" />
    <param name="use_grab_frame"  type="bool" value="$(arg use_grab_frame)" />
  </node>

</launch>
